.signup-wrapper{

    width:50%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem; 
}

.title{
    font-weight: 500;
    font-size:1.2rem ;
    text-align: center;
    margin-bottom: 10px;
}

.or{
    text-align: center;
}

.clickme{
    background-color: white;
    border: 0;
    color: black;
}

.clickme:hover{
    color: blue;
}

.altpara{
    text-align: center;
}