.custom-input{
    border: 0px;
    border-bottom:1px solid black ;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 0;
}

.custom-input{
    margin-top: -1rem;
}

.custom-input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.custom-input:focus{
    outline: none;
    opacity: 1;
    transition: all 0.3s;
}